@media screen and (max-width: 700px){

    body{
        overflow-x: hidden;
    }
    nav{
        display: none;
    }

    nav{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, background-color 0.3s ease; 
        background-color: black;
        width: 100%;
        height: 0;
        position: absolute;
        top: 0px; 
        right: 0; 
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
    
        
    }

        nav.open-nav {
            max-height: 500px; 
            height: 100%; 
            background-color: black; 
            border-bottom-left-radius: 20%;
            border-bottom-right-radius: 20%;
    }
    nav ul {
        flex-direction: column;
        gap: 1em;
        margin-top: 150px;
    }

    nav ul li {
        text-align: center;
    }

    nav ul li a {
        font-size: 25px;
        color: rgb(255, 255, 255);
    }
    .logo, .hamburger{
        z-index: 999;
    }
    .logo-nav{
        padding: 30px 25px 0 25px;
    }

    .hamburger{
        display: block;
    }

    .first-section{
        background-image: url(./images/mobile/image-hero.jpg);
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* overflow-x: hidden; */
    }

    .first-sec-box{
        width: 300px;
        height: 190px;
        margin: 200px auto;
    
    }

    .first-sec-box h1{
        font-size: 40px;
        margin: 0;
        padding: 17px 17px;
    }

    .second-section{
        flex-direction: column;
        margin: 0;
    }

    .seconseca{
        background-image: url(./images/mobile/image-interactive.jpg);
        width: 90%;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
        margin-bottom: 30px;
        margin: 50px auto;
    }

    .seconsecb{
        width: 100%;
        height: 200px;
        padding: 0 20px;
        transform: translateX(0);
        text-align: center; 
    }

    .seconsecb h1{
        font-size: 30px;
    }

    .seconsecb p br{
        display: none;
    }

    .third-section{
        margin: 0;
    }



    .third-sec-one{
        margin: 70px auto;
    }

    .third-sec-one h2{
        margin: 50px auto 0 auto;
    }

    .third-sec-one button{
        display: none;
    }

    .third-sec-two{
        flex-direction: column;

    }

    .see-all2{
        display: block;
        margin: 30px auto;
        color: black;
    }

   
   
   


    .third-sec-twoa{
        background-image: url(./images/mobile/image-deep-earth.jpg);
        width: 90%;
        height: 200px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        /* padding-top: 50px; */
        padding: 0;
        margin: 0 auto;
    }
    
    .third-sec-twob{
        background-image: url(./images/mobile/image-night-arcade.jpg);
        width: 90%;
        height: 200px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 5px;
        margin: 0 auto;
    }
    
    .third-sec-twoc{
        background-image: url(./images/mobile/image-soccer-team.jpg);
        width: 90%;
        height: 200px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 5px;
        margin: 0 auto;
    }
    
    .third-sec-twod{
        background-image: url(./images/mobile/image-grid.jpg);
        width: 90%;
        height: 200px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 5px;
        /* text-align: end; */
        margin: 0 auto;
    }

.third-sec-twoa h2, 
.third-sec-twob h2,
.third-sec-twoc h2,
.third-sec-twod h2{
    margin-top: 110px;
    margin-left: 20px;
    font-size: 20px;
    color: var(--white);
}

.third-sec-three{
    flex-direction: column;
    margin: 0;
}

.third-sec-threea{

    background-image: url(./images/mobile/image-from-above.jpg);
    width: 90%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 auto;
    
    }
    
    .third-sec-threea{
    
        background-image: url(./images/mobile/image-from-above.jpg);
        width: 90%;
        height: 200px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0 auto;
        
        
        
        }
    
    .third-sec-threeb{
    
            background-image: url(./images/mobile/image-pocket-borealis.jpg);
            width: 90%;
            height: 200px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            padding: 0;
            margin: 0 auto;
            
            }
    
    .third-sec-threec{
    
                background-image: url(./images/mobile/image-curiosity.jpg);
                width: 90%;
                height: 200px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                padding: 0;
                margin: 0 auto;
                
                }
    
                .third-sec-threed{
    
                    background-image: url(./images/mobile/image-fisheye.jpg);
                    width: 90%;
                    height: 200px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin: 0 auto;
                    padding: 0;
                    
                    }



                    .third-sec-threea h2,
                    .third-sec-threeb h2,
                    .third-sec-threec h2,
                    .third-sec-threed h2{
                        margin-top: 110px;
                        margin-left: 20px;
                        font-size: 20px;
                        color: var(--white);

                    }















                    .footer{
                        width: 100%;
                        height: fit-content;
                        justify-content: center;
                    }
.footer, .footer-nav ul{
    flex-direction: column;
    align-items: center;
}

.footer-logo{
    margin-top: 40px;

}
.social{
    margin-left: 35px;
    margin-bottom: 10px;
}

.footer-nav ul{
    gap: 0.6em;
    margin-bottom: 30px;
}

.footer2 p{
    font-size: 8px;
    margin-bottom: 30px;
}


}