
  @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

  /* font-family: 'Alata', sans-serif; */

  /* font-family: 'Josefin Sans', sans-serif; */

  :root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark--gray: hsl(0, 0%, 55%);
    --very--dark--gray: hsl(0, 0%, 41%);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first-section{
    background-image: url(./images/desktop/image-hero.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}