
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

  /* font-family: 'Alata', sans-serif; */

  /* font-family: 'Josefin Sans', sans-serif; */

  :root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark--gray: hsl(0, 0%, 55%);
    --very--dark--gray: hsl(0, 0%, 41%);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.first-section{
    background-image: url(./images/desktop/image-hero.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 150px 0 150px;
}


.hamburger{
    display: none;
}

nav{
    /* display: flex; */
    /* width: 100%; */
    /* height: 7vh; */
    justify-content: space-between;
    align-items: center;
    /* padding: 100px 150px 0 150px; */
}

nav ul{
    display: flex;
    gap: 2em;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    color: var(--white);
    font-weight: 400;

}

.first-sec-box{
    border: 2px solid var(--white);
    width: 600px;
    height: 300px;
    margin-left: 150px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.first-sec-box h1{
    font-family: 'Alata', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-size: 55px;
    font-weight: 100;
    color: var(--white);
    margin-left: 30px;
    margin-top: 45px;
}

.second-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 100px;
    
}

.seconseca{
    background-image: url(./images/desktop/image-interactive.jpg);
    width: 50%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: 100px; */
}

.seconsecb{
    width: 50% ;
    height: 300px;
    background-color: var(--white);
    transform: translateX(-120px);
    margin-bottom: -100px;
    text-align: left;
    padding: 120px 70px 0 70px;
}

.seconsecb h1{
    margin-bottom: 30px;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Alata', sans-serif;
    color: var(--black);
}

.seconsecb p{
    font-family: 'Alata', sans-serif;
    color: var(--dark--gray);
    font-size: 14px;
}