
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

  /* font-family: 'Alata', sans-serif; */

  /* font-family: 'Josefin Sans', sans-serif; */

  :root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark--gray: hsl(0, 0%, 55%);
    --very--dark--gray: hsl(0, 0%, 41%);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.first-section{
    background-image: url(./images/desktop/image-hero.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 150px 0 150px;
}


.hamburger{
    display: none;
}

nav{
    /* display: flex; */
    /* width: 100%; */
    /* height: 7vh; */
    justify-content: space-between;
    align-items: center;
    /* padding: 100px 150px 0 150px; */
}

nav ul{
    display: flex;
    gap: 2em;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    color: var(--white);
    font-weight: 400;

}

.first-sec-box{
    border: 2px solid var(--white);
    width: 600px;
    height: 300px;
    margin-left: 150px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.first-sec-box h1{
    font-family: 'Alata', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-size: 55px;
    font-weight: 100;
    color: var(--white);
    margin-left: 30px;
    margin-top: 45px;
}

.second-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 100px;
    
}

.seconseca{
    background-image: url(./images/desktop/image-interactive.jpg);
    width: 50%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: 100px; */
}

.seconsecb{
    width: 50% ;
    height: 300px;
    background-color: var(--white);
    transform: translateX(-120px);
    margin-bottom: -100px;
    text-align: left;
    padding: 120px 70px 0 70px;
}

.seconsecb h1{
    margin-bottom: 30px;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Alata', sans-serif;
    color: var(--black);
}

.seconsecb p{
    font-family: 'Alata', sans-serif;
    color: var(--dark--gray);
    font-size: 14px;
}

.third-section{
    justify-content: center;
    align-items: center;
    margin: 100px 100px;
}

.third-sec-one{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.third-sec-one h2{
    font-family: 'Alata', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.third-sec-one button{
    padding: 7px 30px;
    background: none;
    font-family: 'Alata', sans-serif;
    font-size: 12px;
    cursor: pointer;
    
}

.third-sec-one button:hover{
    background: var(--black);
    color: var(--white);
}

.third-sec-two{
    display: flex;
    justify-content: space-between;
}

.third-sec-twoa{
    background-image: url(./images/desktop/image-deep-earth.jpg);
    width: 23%;
    height: 600px;
    background-position: center;
    background-size: cover;
    padding-left: 40px;
}

.third-sec-twob{
    background-image: url(./images/desktop/image-night-arcade.jpg);
    width: 23%;
    height: 600px;
    background-position: center;
    background-size: cover;
    padding-left: 40px;
}

.third-sec-twoc{
    background-image: url(./images/desktop/image-soccer-team.jpg);
    width: 23%;
    height: 600px;
    background-position: center;
    background-size: cover;
    padding-left: 40px;
}

.third-sec-twod{
    background-image: url(./images/desktop/image-grid.jpg);
    width: 23%;
    height: 600px;
    background-position: center;
    background-size: cover;
    padding-left: 40px;
    /* text-align: end; */
}

.third-sec-twoa h2, 
.third-sec-twob h2,
.third-sec-twoc h2,
.third-sec-twod h2{
    margin-top: 500px;
    font-family: 'Alata', sans-serif;
    color: var(--white);
    font-weight: 100;
    /* line-height: ; */
}

/* .third-sec-twoa:hover, */
/* .third-sec-twob:hover, */
/* .third-sec-twoc:hover, */
/* .third-sec-twod:hover{ */
    /* background: var(--white); */
    /* cursor: pointer; */
/* } */

.third-sec-three{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.third-sec-threea{

background-image: url(./images/desktop/image-from-above.jpg);
width: 23%;
height: 600px;
background-position: center;
background-size: cover;
padding-left: 40px;

}

.third-sec-threea{

    background-image: url(./images/desktop/image-from-above.jpg);
    width: 23%;
    height: 600px;
    background-position: center;
    background-size: cover;
    padding-left: 40px;
    
    }

.third-sec-threeb{

        background-image: url(./images/desktop/image-pocket-borealis.jpg);
        width: 23%;
        height: 600px;
        background-position: center;
        background-size: cover;
        padding-left: 40px;
        
        }

.third-sec-threec{

            background-image: url(./images/desktop/image-curiosity.jpg);
            width: 23%;
            height: 600px;
            background-position: center;
            background-size: cover;
            padding-left: 40px;
            
            }

            .third-sec-threed{

                background-image: url(./images/desktop/image-fisheye.jpg);
                width: 23%;
                height: 600px;
                background-position: center;
                background-size: cover;
                padding-left: 40px;
                
                }
                .third-sec-threea h2,
                .third-sec-threeb h2,
                .third-sec-threec h2,
                .third-sec-threed h2{
                    margin-top: 500px;
                    font-family: 'Alata', sans-serif;
                    color: var(--white);
                    font-weight: 100;
                }
.footer{
    width: 100%;
    height: 200px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.footer-logo{
    margin-bottom: 30px;
    width: 150px;
}

.footer-nav ul{
    display: flex;
    gap: 2em;
}

.footer-nav ul li{
    list-style: none;
}

.footer-nav ul li a{
    text-decoration: none;
    color: var(--white);
    font-family: 'Alata', sans-serif;
}

.social{
    margin-bottom: 30px;
    margin-left: 170px;
}


.footer2 p{
    color: var(--dark--gray);
    font-family: 'Alata', sans-serif;
}